<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>The total number is <%=total%> </h1>
     <p>First Number is <%=firstNum%></p>
     <p>Second Number is <%=secondNum%></p>
</body>
</html>